
:root{
        --color-hover-menu2: rgb(165, 149, 2);
        --color-hover-menu1:  #343434;
        --main-background-color:#F2FFFE;
        --header-background-color: rgba(138, 73, 0, 0.664);
        --titulo-background-color:rgba(170, 168, 168, 0.349);
        --color-fuente-blanco:aliceblue;
        --background-seccion2:#F29E00;
        --background-color-menu2:rgba(97, 36, 0, 0.534);
        --background-color-encabezado:rgba(116, 58, 44, 0.4);
        --background-color-listado:rgb(100, 40, 0,1);
        --background-color-main:#754c01b4;
        --background-color-container:#faa9581f;
        --background-color-box:#FAA958;
        --background-color-circulo:rgba(255, 208, 0, 0.692);
        --color-fuente-texto:#000;
        --background-color-container2:#663b028e;
        --color-fuente-form:aliceblue;
        --background-color-boton:rgba(114, 0, 0, 0.747);
        --background-color-fotter:rgba(138, 73, 0, 0.664);
        --backgrpund-color-form: rgba(71,71,71,1);
}

*{
        margin: 1px;
        padding: 1px;
        box-sizing: border-box;      
        text-decoration: none; 
        
            
}

.padre {
        display: flex;
        flex-flow: column nowrap;
        background-color: var(--main-background-color);
        position: absolute;
        width: 100vw;
        height: 100vw;}

        .header{
                background:var(--header-background-color);
                display: flex;
                flex-flow: row nowrap ;
                border-radius: 5px;
                align-items: baseline;
            
                }

                .titulo {
                        
                        flex: 8 1 auto;

                         }

                         

                .menu1{  
                        
                        font-size: 1em;
                        flex: 1 1 auto;
                        display: flex;
                        flex-flow: row nowrap;
                         
                         }

                         .inicio1{
                                 
                                flex: 1 1 auto;
                                }
                                .inicio1 a {
                                        color: var(--color-fuente-blanco);
                                        font-size:20px;}
                                        .inicio1 a:hover{
                                                        color: var(--color-hover-menu1);
                                                        }


                         .registro{
                                   flex: 1 1 auto;}
                                   .registro a {
                                        color: var(--color-fuente-blanco);
                                        font-size:20px;}
                                        .registro a:hover{
                                                        color: var(--color-hover-menu1);
                                                        }

         .seccion1{     
                        display: flex;
                        flex-flow: column nowrap ;
                        justify-content: center;
                        background:var(--background-seccion2);
                        background: url(../img/2.jpg);
                        background-position: center;
                        background-attachment: contain;   
                        background-size: cover;
                        border-radius: 15px;
                 }       
                 .menu2{  
                        flex: 1 1 auto;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        background-color: var(--background-color-menu2);
                        border-radius: 15px;
                        justify-items: center;
                        text-align: center;
                        border-radius: 15px;
                        
                         }
                         
                         .nav1{ 
                                flex: 1 1 auto;}
                                .nav1 a {
                                        color: var(--color-fuente-blanco);
                                        font-size:30px;}
                                        .nav1 a:hover{
                                                color: var(--color-hover-menu2);
                                                        }

                        .nav2{ 
                                flex: 1 1 auto;
                                color: var(--color-fuente-blanco);}
                                .nav2 a {
                                        color: var(--color-fuente-blanco);
                                        font-size: 30px;}
                                        .nav2 a:hover{
                                                        color: var(--color-hover-menu2);
                                                        }
                        .nav3{ 
                                flex: 1 1 auto;
                                color: var(--color-fuente-blanco);}
                                .nav3 a {
                                        color: var(--color-fuente-blanco);
                                        font-size: 30px;}
                                        .nav3 a:hover{
                                                        color: var(--color-hover-menu2);
                                                        }
                        .nav4{ 
                                flex: 1 1 auto;
                                color: var(--color-fuente-blanco);}
                                .nav4 a {
                                        color: var(--color-fuente-blanco);
                                        font-size: 30px;}
                                        .nav4 a:hover{
                                                        color: var(--color-hover-menu2);
                                                        }


                .encabezado{ 
                        
                        flex: 9 1 auto;
                        display: flex;
                        justify-content: center;
                        flex-flow: column  nowrap;
                        background: var(--background-color-encabezado) ;
                        border-radius: 15px;
                        
                        }

                        .titulo2 {    
                                flex: 1 1 auto;
                                display: flex;
                                flex-flow: column nowrap;
                               
                                
                                }
                                .titulo2{  flex: 1 1 auto;

                                        text-align: center;
                                        color: var(--color-fuente-blanco);
                                        font-size: 40px;
                                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                        

                                }

                        .listado{
                                flex: 1 1 auto;
                                display: flex;   
                                align-items: center; 
                                width: 100%;                     
                                background-color:var(--background-color-listado);
                                width: 50vw ; 
                                margin-left: auto;
                                margin-right: auto;
                                border-radius: 15px;
                                                               
                                padding: 15px;
                                justify-content: space-around;} 
                                .listado a{ 
                                                text-align: center;
                                                color: var(--color-fuente-blanco);
                                            font-size: 30px;
                                            
                                        }
                                            .listado a:hover{
                                                color: var(--color-hover-menu2);
                                                }
                                
                              
                 
        .main{ 
                display: flex;
                flex-flow: column nowrap;
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                background: var(--background-color-main);
                border-radius: 15px;}

                h4 {   
                        flex: 1 1 auto;
                        text-align: center;
                        font-size: 30px;}
                        
                .container{   
                        flex: 5 1 auto;
                        width: 100%;
                        background: var(--background-color-container);
                        color: var(--color-fuente-blanco);
                        display: flex;
                        flex-direction: row;
                        flex-flow: nowrap;
                        justify-content: space-around;
                        align-items: center;
                        border-radius: 15px;}

                        
                        .box-center,.box-left,.box-right {  
                                flex: 1 1 auto; 
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: center;
                                max-width: 30%;
                                max-height: 100%;
                        text-align: justify;}

                                .box-center h4,.box-left h4,.box-right h4{ 
                                        
                                                height: max-content;
                                                min-height: max-content  ;
                                                font-size: 40px;
                                                flex: 5 1 auto;
                                                color:var(--background-color-box);}
                                .iconos,.circulo1,.circulo2{ 

                                                
                                                flex: 1 1 auto;
                                                display: flex;
                                                flex-flow: row nowrap;
                                                
                                                width: 8vw;
                                                height: 8vw;
                                                border-radius: 50%;
                                                background: var(--background-color-circulo);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                margin: auto;
                                                padding:3%}
                                        .andr{
                                                align-self: center;
                                                flex: 1 1 auto;}
                                        .apple{
                                                align-self: center;
                                                flex: 1 1 auto;}
                                        .box-left svg,.box-right svg{ 
                                                        align-self: center;
                                                        flex: 1 1 auto;} 
                                .box-center p,.box-left p,.box-right p{
                                                flex: 1 1 auto;
                                                color: var(--color-fuente-texto);}
                
                        
               .container2{
                        flex: 3 1 auto;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        align-content: center;
                        background: var(--background-color-container2);
                        border-radius: 15px;}


                           h3{
                                flex: 1 1 auto;
                                text-align: center;
                                font-size: 30px;
                                color: var(--color-fuente-texto);}
                               
                        .formulario {
                                scroll-snap-align: center;
                                scroll-snap-stop: always;
                                flex: 8 1 auto;
                                display: flex;
                                flex-flow: column nowrap;
                                background-color: var(--backgrpund-color-form);
                                color: var(--color-fuente-form);
                                width: 50vw;
                                height: auto;
                                border-radius: 25px;
                                margin: auto;}

                                 
                                .formulario input{
                                        padding: .6em;
                                        border-radius: 10px;
                                        margin-left: 3px;
                                        margin-right: 3px;
                                        width: 75%;}

                                .contacto2{
                                                flex: 1 1 auto;}
                                        .encabezado-form{
                                                        font-size: 20px;
                                                        text-align: center; 
                                                        color: rgb(255, 209, 5);}
                                .contenedor-campos {
                                                flex: 8 1 auto;
                                                display: flex;
                                                justify-content: space-between;
                                                flex-wrap: wrap;}
                                        .nameph{
                                                flex: 1 1 auto;
                                                display: flex;
                                                flex-flow: row nowrap;}  
                                                .name2{
                                                        flex: 1 1 auto;
                                                        display: flex;
                                                        align-items: baseline;}
                                                        .name2 label{
                                                                        flex: 0.1 1 auto;
                                                                        |width:auto ;} 
                                                        .phone input{
                                                                        flex: 5 1 auto;}      
                                                .phone{
                                                        flex: 1 1 auto;
                                                        display: flex;
                                                        align-items: baseline;}     
                                                        .phone label{
                                                                        flex: 0.1 1 auto;
                                                                        width: auto;}
                                                        .phone input{
                                                                        flex: 5 1 auto;
                                                                        margin-right: 2vw;
                                                                        }         
                                        .correo2{
                                                flex: 1 1 auto;
                                                display: flex;
                                                flex-flow: row nowrap;
                                                align-items: baseline;}
                                                .correo2 label{ 
                                                                flex: 0.1 1 auto;
                                                               }
                                                .correo2  input{
                                                                flex: 1 1 auto;
                                                                margin-right: 2vw;
                                                                }
                                                              
                                                                
                                        .mensaje{
                                                flex: 1 1 auto;
                                                display: flex;
                                                align-items: baseline;
                                                flex-flow: row nowrap;}

                                                .mensaje label{ 
                                                                
                                                                flex: 0.1 1 auto;}
                                                .mensaje textarea{ 
                                                                flex: 5 1 auto;
                                                                width: auto;
                                                                border-radius: 10px;
                                                                margin-right: 2vw;}

                                .enviar{
                                        flex: 1 1 auto;
                                        display: flex;
                                        justify-content: flex-end;
                                        margin-right: 5%;}
                                        .eviar p{
                                                flex: 1 1 auto;
                                                align-self: flex-end;}
                                        .enviar p input {
                                                        flex: 1 1 auto;
                                                        background: var(--background-color-boton);
                                                        width: 50px;
                                                        border-radius: 10px;
                                                        width: fit-content;
                                                        color: white;}
         .footer{ 
                padding: 6px;
                border-radius: 10px;
                
                flex: 1 1 auto;
                background: var(--background-color-fotter);}
                .pie{
                        text-align:center; 
                        margin-bottom: 1%;
                        font-size: 1.25em;}
@media all and (max-width: 1100px){
        .main{width: 98.6vw;
                
                }
}
  @media all and (max-width: 800px){
                 .menu1{
                                 flex-flow: column nowrap;}   
                .seccion1{
                                flex-flow: row nowrap;}
                .inicio1 a, .registro a {
                                        font-size: 3vw;}
                .menu2{
                                flex-flow: column nowrap;}     
                .titulo2{
                                font-size: 5vw;}
                .listado a{
                                font-size: 3vw;}
                .container2 h3, .main h4{ 
                                 font-size: 5vw;}

                .circulo1,.circulo2,.iconos{      
                                                width: 10vw;
                                                height: 10vw;}
                .box-center h4,.box-left h4, .box-right h4{
                                                                font-size: 5vw;}

                .container{
                                flex-flow: column nowrap;}
                        .box-center, .box-left, .box-right{
                                                                max-width: 75%;  }
              
                .formulario {
                                        max-width: 800px;
                                        width: 75vw;;
                                }
                .nameph{
                        flex-flow: column nowrap;} 
                        .nav1 a, .nav2 a, .nav3 a, .nav4 a { 
                                        font-size: 5vw;}
                .name2 input{   width: 100vw;
                                margin-right: 3vw;}
                .phone input, .correo2  input,.mensaje textarea {
                                
                                margin-right: 3vw;}         
                .encabezado-form{
                                font-size: 2.5vw;}   
                .footer{    font-size: 2.5vw; } 
                        }
              
@media all and (max-width: 480px){
        .container2 h3, .main h4{ 
                font-size: 1.6rem;}                                                    
        .campo {
                flex-flow: column;
        }
                               
        .phone input, .name2 input,.correo2  input,.mensaje textarea {
                width:95%;                
                margin-right: 3vw;
        }                              
        .circulo1,.circulo2,.iconos{      
                                         width: 60px;
                                         height: 60px;}
        .box-center h4,.box-left h4, .box-right h4{
                                font-size: 1.5rem;}        
        .encabezado-form{
                                font-size:1rem;         
                        }            
        .footer{    font-size: 0.8rem; } 
        .listado{ padding: 8px;}                   
                                       }








         





                
                
                





 */
